@import url('httpss://fonts.googleapis.com/css?family=Roboto');


/* Intro div */
.intro {
  display: flex;
  justify-self: center;
  margin-left: 140px;
  height: 700px;
  width: 80%;
  background-color: ghostwhite;
}

/* REGISTER FORM START */
.signup-form {
  font-family: "Roboto", sans-serif;
  width:650px;
  margin:30px auto;
  background:linear-gradient(to right, #ffffff 0%, #fafafa 50%, #ffffff 99%);
  border-radius: 10px;
}

/* Form Header */
.form-header  {
  background-color: #EFF0F1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.form-header h1 {
  font-size: 30px;
  text-align:center;
  color:#666;
  padding:20px 0;
  border-bottom:1px solid #cccccc;
}

/* Form Body */

.form-body {
  padding: 10px 40px;
  color: #666;
}

.form-group {
  margin-bottom: 20px;
}

.form-body .label-title {
  color: 1BBA93;
  font-size: 17px;
  font-weight: bold;
}

.form-body .form-input {
  font-size: 17px;
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  color: #333333;
  text-align: left;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: white;
  outline: none;
}

.horizontal-group .left {
  float: left;
  width: 49%;
}

.horizontal-group .right {
  float: right;
  width: 49%;
}

input[type="file"] {
  outline: none;
  cursor: pointer;
  font-size: 17px;
}

#range-label {
  width: 15%;
  padding: 5px;
  background-color: #1BBA93;
  color: white;
  border-radius: 5px;
  font-size: 17px;
  position: relative;
  top: -8px;
}

::-webkit-input-placeholder {
  color:#d9d9d9;
 }

/* Form Footer */
.signup-form .form-footer {
  background-color: #EFF0F1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 40px;
  text-align: right;
  border-top: 1px solid #cccccc;
  clear: both;
}

.form-footer span {
  float: left;
  margin-top: 10px;
  color: #999;
  font-style: italic;
  font-weight: thin;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1BBA93;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  color: #bcf5e7;
  cursor: pointer;
}

.btn:hover {
  background-color: #169c7b;
  color: white;
}

/* REGISTER FORM END */

.selection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection button {
    color: white;
    margin-right: 5px;
    font-size: 3rem;
    border: none;
    background: rgb(91, 182, 235);
    transition: all 0.3s ease;
    border-radius: 4px;
}

.selection button:hover {
    color: black;
    background: rgb(255, 255, 255);

}

/* NAVBAR START */
nav {
  margin: 27px auto 0;

  position: relative;
  width: 590px;
  height: 50px;
  background-color: #34495e;
  border-radius: 8px;
  font-size: 0;
}
nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 100px;
}
a:nth-child(2) {
  width: 110px;
}
a:nth-child(3) {
  width: 100px;
}
a:nth-child(4) {
  width: 120px;
}
a:nth-child(5) {
  width: 160px;
}
nav .start-home, a:nth-child(1):hover~.animation {
  width: 100px;
  left: 0;
  background-color: #1abc9c;
}
nav .start-Play, a:nth-child(2):hover~.animation {
  width: 110px;
  left: 100px;
  background-color: #e74c3c;
}
nav .start-Highscore, a:nth-child(3):hover~.animation {
  width: 100px;
  left: 210px;
  background-color: #3498db;
}
nav .start-Register, a:nth-child(4):hover~.animation {
  width: 120px;
  left: 310px;
  background-color: #9b59b6;
}

/* NAVBAR END */
body {
  font-size: 16px;
  font-family: sans-serif;
  background:linear-gradient(to right, #78a7ba 0%, #385D6C 50%, #78a7ba 99%);
}
h1 {
  text-align: center;
  margin: 40px 0 40px;
  text-align: center;
  font-size: 30px;
  color: #ecf0f1;
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Cherry Swash', cursive;
}

p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}

span {
    color: #2BD6B4;
}
.score {
  margin-top: 5rem;
  margin-left: 14rem;
  font-family: cursive;
}

/* Add styling to the whole table  */
.score {
    border-collapse: collapse;
    margin: 70px 0;
    margin-left: 500px;
    font-size: 1.5em;
    font-family: sans-serif;
    font-weight: bold;
    min-width: 400px;
    max-width: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* Change the header to distinguish from the rest of the table */
.score thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.score th,
.score td {
    padding: 12px 15px;
}

/* Add a border to every row */
.score tbody tr {
  border-bottom: thin solid #dddddd;
}

/* Change the background of every other row */
.score tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

/* Add a bolder border to the last row element */
.score tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

/* Style the active row (this will be changedd with javascript) */
.score tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}


/* Canvas for the game */
main {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-content: center
}